<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Care</title>
</head>

<body>
  <!-- <div id="root"></div> -->
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-sm bg-primary">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand " href="#">
        <span class="navbar-brand__smart-tag text-tertiary fw-bold fs-3">Smart</span><span
          class="navbar-brand__care-tag text-light fs-3">Care</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-light"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav container-fluid">
          <li class="nav-item container-fluid text-center ">
            <a class="nav-link text-light active" href="#">Home</a>
          </li>
          <li class="nav-item container-fluid text-center ">
            <a class="nav-link text-light" href="#feature-section">Fitur</a>
          </li>
          <li class="nav-item container-fluid text-center ">
            <a class="nav-link text-light" href="#about-section">Tentang</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->

  <main>
    <!-- Hero Section Start -->
    <section class="hero-section">
      <div class="hero-content d-flex flex-column p-4">
        <h1 class="hero-content__heading text-center text-primary-dark">Lorem, ipsum dolor sit amet consectetur
          adipisicing
          elit.
          Repudiandae, autem.
        </h1>
        <button type="button" class="btn btn-primary">ayo mulai</button>
        <button type="button" class="btn btn-secondary">belum punya akun</button>
      </div>
    </section>
    <!-- Hero Section End -->

  </main>
</body>

</html>