@import 'base';

.main-content {

  .child-profile-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }


  .no-childs-alert-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;

    &__icon {
      width: 10rem;
      height: 10rem;

      path {
        color: $color-secondary;
      }
    }

    &__tag {
      font-size: 1.5rem;
      font-weight: bold;
      color: $color-primary;
      text-align: center;
      margin: 0;
    }
  }

  @media screen and (min-width: 700px) {
    & {
      margin: 0 auto;
      width: 80vw;
    }
  }

  @media screen and (min-width: 900px) {
    & {
      margin: 0 auto;
      width: 70vw;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      margin: 0 auto;
      width: 60vw;
    }
  }
}