@import 'base';

.hero {
  &-section {
    background-image: url('../public/hero/hero.jpg');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $color-tertiary;
    height: 90vh;
    display: flex;
    align-items: end;


    @media screen and (min-width: 648px) {
      & {
        background-position: 0 50%;
        align-items: center;
        justify-content: end;
        padding: 0 4rem;

        .hero-content {
          width: 50vw;
          display: flex;
          align-items: center;

          .btn {
            min-width: 300px;
          }
        }
      }
    }
  }
}