@import 'base';

.top-bar {
  width: 100vw;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  column-gap: 1rem;
  background: $color-main-bg;


  &__family-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    border-radius: 15px;
    font-size: 2rem;
    height: 52px;

    * {
      color: $color-neutral-light;
      font-size: 1.5rem;
    }

    *:first-child {
      font-weight: bold;
      margin-right: .5rem;
    }
  }

  &__button-sign-out {
    svg {
      width: 2rem;
      height: 2rem;

      path {
        color: $color-neutral-light;
      }
    }
  }

  @media screen and (min-width: 700px) {
    & {
      margin: 0 auto;
      width: 80vw;
    }
  }

  @media screen and (min-width: 900px) {
    & {
      margin: 0 auto;
      width: 70vw;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      margin: 0 auto;
      width: 60vw;
    }
  }
}